

.container {
    display: flex;
    flex-direction: row;
}
.backgroundImageService {
    /* background-size: cover; */
    background-position: bottom;
    background-repeat: no-repeat;

}

@media (min-width: 2100px) {
    .backgroundImageService {
        /* background-size: 2100px auto; */
    }
}

.photoScanHeader {
    /* padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgb(126, 34, 206);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center */
}

.photoScanHeadP {

}

.photoScanHeadH1 {
    color: white;
    font-size: 96px;
}

.tdInput {
    
}

@media (max-width: 974px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 974px) {
    .photoScanHeader {
        height: 400px;
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 974px) {
    .photoScanHeadP {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 770px) {
    .photoScanHeader {
        height: 500px;
        flex-wrap: wrap;
        font: bold;
        text-align: center;
    }
}

@media(max-width: 770px) {
    .photoScanHeadP {
        padding-left: 70px;
        padding-right: 70px;
        font: bold;
        text-align: center;
    }
}

@media(max-width: 500px) {
    .photoScanHeadP {
        padding-left: 50px;
        padding-right: 50px;
        font: bold;
        text-align: center;
    }
}

@media(max-width: 700px) {
    .photoScanHeadH1 {
        font-size: 72px;
        color: white;
        text-align: center;
        margin-bottom: 32px;
        font: bold;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.heightOpen {
    transition: 0.8s max-height 0.9s ease-out, padding 0.2s ease-out;
    max-height: 600px;
    overflow: hidden;
}

.heightClose {
    transition: max-height 0.5s ease-out, padding 0.2s ease-out; 
    max-height: 0px;
    overflow: hidden;
}

.widthOpen {
    transition: max-width 0.5s ease-out, padding 0.5s ease-out;
    max-width: 500px;
    /* overflow: visible; */
}

.widthClose {
    transition: 0.8s max-width 0.5s ease-out, padding 0.5s ease-out;
    max-width: 0px;
    min-width: 200px;
    overflow: hidden;
}



.heightOpenx {
    height: 100px;
    background-color: red;
}

.heightClosex {
    height: 50px;
    background-color: red;
}

.widthOpenx {
    width: 100px;
    background-color: red;
}

.widthClosex {
    width: 50px;
    background-color: red;
}

.scanBadgeClass {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    transform: skewX(0);
}

.scanSlideClass {
    transform: translatey(-10%);
    transform: skewX(32);
}

.badgeDescriptionClose {
    transition: height 0.5s ease-in-out;
    opacity: 0%;
    height: 0px;
}

.badgeDescriptionOpen {
    margin-top: 15px;
    transition: height 0.5s ease-in-out;
    transition: 0.5s opacity 0.2s ease-out;
    opacity: 100%;
    height: 100px;
}

.parallax {
    /* position: relative; */
    /* height: 100vh; */
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

.step {
    opacity: 0%;
}

.stepActive {
    opacity: 100%;
    transition: 0.5s opacity 0.5s ease-in-out;
}

.servOption {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    transition: box-shadow 0.4s ease-in-out;
}

.servOption:hover {
    box-shadow: 10px 6px 15px 0px rgba(46, 61, 73, 0.2);
    transition: box-shadow 0.4s ease-in-out;
}

.mainHeader {
    font-size: 8vw; /* 2% of the viewport width */
}

.hero_sub {
    width: 30vw;
    min-width: 300px;
    max-width: 520px;
}

.nil_style {
    font-size: 4vw;
    line-height: 95%;
}

@media screen and (min-width: 1200px) {
    .nil_style {
        font-size: 56px;
    }
}

.nil_style_sub {
    font-size: 1.5vw;
}

.nil_container {
    min-width: 390px;
    max-width: 980px;
}

.package_title {
    font-size: 3vw;
    font-weight: bold;
}

.option_serv {
    border-radius: 20px;
    /* border: 2px solid #9CA3AF; */
    padding: 20px;
    width: 230px;
    height: 9vw;
    max-height: 230px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
    color: #4B5563;
    box-shadow: 2px 1px 5px black;
    transition:  box-shadow 0.1s ease-in-out;
}

.option_serv:hover {
    box-shadow: 5px 2px 10px black;
    border: none;
    color: rgb(31 41 55);
    transition: box-shadow 0.2s ease-in-out;
}

.option_title {
    font-size: 3vw;
}

@media screen and (min-width: 1200px) {
    .option_title {
        font-size: 38px;
    }
}

.option_text {
    font-size: clamp(12px, 1vw, 20px);
}

.option_container {
    max-width: 916px;
    margin-top: 70px;
}

@media screen and (min-width: 1200px) {
    .option_text {
        font-size: 16px;
    }
}

.photo_type_container {
    width: 74vw;
    height: 64vw;
    min-width: 390px;
    max-width: 980px;
    max-height: 612px;
    min-height: 545px;
    overflow-y: scroll;
}

.photo_type_title {
    font-size: 4vw;
    font-weight: bold;
    line-height: 95%;
    /* margin-left: 40px; */
}

.picture_type_title {
    /* font-size: 3vw; */
    font-size: clamp(25px, 3vw, 38px);
    font-weight: bolder;
    text-align: center;
}



.picture_type_title_mem {
    font-size: 220%;
    font-weight: bolder;
    text-align: center;
}

.svg_option {
    min-width: 50px;
    min-height: 50px;
}

.notion_class {
    width: clamp(248px, 25vw, 390px);
}

.notion_text {
    font-size: clamp(15px, 1.5vw, 20px);
    /* margin-right: 64px; */
}

.icon {
    width: 70px;
    height: 70px;
}